<head>
	<title>Login Page</title>
</head>

<body>
	<h2> Welcome to Ticketing Service system</h2>
	<br>
	<h3> Please enter your credentials to access system</h3>
	
	<form method="post" action="/login" autocomplete="off">
		<p> Username: </p> 
		<input type="text" name="username" required>
		<br>
		<p> Password: </p>
		<input type="text" name="password" required>
		<br>
		<br>
		<button type="submit">Login</button>
		<button onclick="location.href='/register'" type="button">Register</button>
	</form>

