<head>
	<title> Ticket form </title>
</head>

<body>
	<h3 th:text="${ticket.id == 0 ? 'Make a new ticket:' : 'Update ticket:'}">Make a new ticket:</h3>
	
	<form method="post" th:action="@{/addTicket}" th:object="${ticket}" autocomplete="off">
		
		<input type="hidden" th:field="*{id}">
		<input type="hidden" th:field="*{created_by}">
		<input type="hidden" th:field="*{created_at}">
		
		<label>Title:</label>
		<input type="text" th:field="*{title}" required>
		<br>
		
		<label>Description:</label>
		<input type="text" th:field="*{description}" required>
		<br>
		
		<div th:if="${ticket.id != 0}">
			<label>Status:</label>
			<select th:field="*{status}">
				<option value="Not Ready">Not Ready</option>
				<option value="Ready">Ready</option>
			</select>
			<br>
		</div>
		
		<button type="submit">Save</button>
		<button onclick="location.href='/home'" type="button">Cancel</button>
	</form>
</body>